.home-button-container {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde arriba */
  left: 10px; /* Ajusta la distancia desde la izquierda */
  border-radius: 20%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px); /* Altura total menos el espacio del botón HOME */
}

.form-container {
  display: flex;
  width: 80%; /* Ancho del formulario */
  max-width: 400px; /* Ancho máximo del formulario */
  margin-top: 20px; /* Espacio arriba del formulario */
}

/* Estilo para el botón HOME */
.home-button-container button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20%;
}